html, body {
  height: 100%;
  margin: 0;
}

#app-root {
  height: 100%;
}

#app-root > div {
  height: 100%;
}

body {
  font-family: "Catamaran", "Helvetica Neue", sans-serif;
  background-color: white;
  font-size: 16px;
}

h1 {
  font-family: "Fira Mono", monospace;
  text-align: center;
  font-weight: 700;
  font-size: 3em;
  letter-spacing: 13px;
  margin: 30px 0;
  color: black;
}

h2 {
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-weight: 300;
}

h3 {
  font-size: 18px;
  margin-bottom: 20px;
  font-weight: 300;
  color: black;
}

p {
  font-size: 1.3em;
  font-family: "Crimson Text", serif;
  line-height: 1.7em;
  padding: 0;
  margin: 0;
  padding-bottom: 40px;
  color: black;
}

.wrapper {
  max-width: 800px;
  margin: 0 auto;
  min-height: 100%;
}

.wrapper-inner {
  padding-bottom: 70px;
  color: #444444;
}

.content-padding {
  padding: 30px 0;
}

.nav {
  display: flex;
  justify-content: space-between;
}

.navlink, .link {
  color: inherit;
  text-decoration: none;
  cursor: pointer;
}

.navlink:hover {
  color: #969696;
}

.active-navlink {
  color: #969696;
}

.active-word-item, .active-photoalbum-item {
  font-weight: 700;
}

.text-center {
  text-align: center;
}

.footer {
  height: 70px;
  margin-top: -70px;
  padding-top: 20px;
}

.word-box, .photoshoot-nav {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  justify-content: space-between;
}

.word-item, .photoshoot-album {
  padding: 10px;
  border: 4px solid #e6e6e6;
  width: 200px;
  height: 50px;
  text-align: center;
  margin: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail-gallery {
  display: flex;
  flex-wrap: wrap;
  margin: -5px;
  justify-content: space-around;
  margin-bottom: 100px;
}

.img-thumb {
  margin: 5px;
  width: 250px;
  cursor: pointer;
}

.lightbox {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  background-color: rgba(0,0,0, 0.5);
}

.lightbox-inner {
  position: absolute;
  left: 5%;
  right: 5%;
  top: 5%;
  bottom: 5%;
  margin: auto;
  background: white;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lightbox-close-button {
  position: absolute;
  top: 0;
  right: 0;
  color: black;
  background: white;
  border: none;
  cursor: pointer;
  width: 50px;
  height: 50px;
  font-size: 20px;
  outline: none;
}

.lightbox-close-button:hover {
  color: #737373;
}

.lightbox-right {
  border: none;
  outline: none;
  font-size: 30px;
  position: absolute;
  right: 0;
  top: 50%;
  cursor: pointer;
  background: #e8e8e8;
}

.lightbox-left {
  border: none;
  outline: none;
  font-size: 30px;
  position: absolute;
  left: 0;
  top: 50%;
  cursor: pointer;
  background: #e8e8e8;
}

.lightbox-right:hover, .lightbox-left:hover {
  color: #737373;
  background: #fafafa;
}

.lightbox-right:active, .lightbox-left:active {
  color: black;
}
