<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Angela Liu</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="Angela Liu's collection of creative works. Photographs, poetry, and prose.">

  <link href="https://fonts.googleapis.com/css2?family=Crimson+Text&family=Fira+Mono:wght@500&family=Catamaran:wght@300;400;700&display=swap" rel="stylesheet">

  <link rel="stylesheet" href="/static/style.css">

  <link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='apple-touch-icon.png') }}">
  <link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='favicon-32x32.png') }}">
  <link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='favicon-16x16.png') }}">
  <link rel="manifest" href="{{ url_for('static', filename='site.webmanifest') }}">
  <link rel='shortcut icon' type='image/x-icon' href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
<body>
  <div id="app-root"></div>
   <!-- Attach React components -->
  <script type="text/javascript" src="{{ url_for('static', filename='bundle.js') }}"></script>
</body>
</html>

